<!DOCTYPE html>
<html lang="{% if lang_code %}{{ lang_code }}{% else %}sk{% endif %}">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
        content="{{ _('SPy o.z. is civic association founded to support developers and users of the Python programming language in Slovakia.') }}">
  <meta name="author" content="Richard Kellner, SPy o.z.">
  <title>{{ title }}</title>

  <!-- You Promised Me Mars Colonies. Instead, I Got Facebook (Buzz Aldrin) -->
  <!-- Twitter -->
  <meta name="twitter:site" content="@pyconsk">
  <meta name="twitter:creator" content="@pyconsk">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="SPy o.z.">
  <meta name="twitter:description"
        content="{{ _('SPy o.z. is civic association founded to support developers and users of the Python programming language in Slovakia.' ) }}">
  <meta name="twitter:image" content="https://spy.python.sk/static/img/logo/spy-logo.png">
  <meta name="twitter:url" content="https://spy.python.sk">
  <!-- Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="SPy o.z.">
  <meta property="og:description"
        content="{{ _('SPy o.z. is civic association founded to support developers and users of the Python programming language in Slovakia.') }}">
  <meta property="og:site_name" content="spy.python.sk">
  <meta property="og:image" content="https://spy.python.sk/static/img/logo/spy-logo.png">
  <meta property="og:url" content="https://spy.python.sk">

  <!-- CSS -->
  <link href="{{ url_for('static', filename='css/picnic.min.css') }}" type="text/css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/spy.min.css') }}?v=5" type="text/css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css" rel="stylesheet">

  <!-- JavaScript -->
  <script src="{{ url_for('static', filename='js/analytics.min.js') }}"></script>
  {% block header %}{% endblock %}
  <!-- Favicon -->
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/logo/spy-logo.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo/spy-logo.png') }}">
  {#
  <link rel="icon" href="{{ url_for('static', filename='img/logo/favicon.ico') }}" sizes="16x16">
  #}
  {% if lang_code == 'sk' %}
  <link rel="alternate" href="https://2018.pycon.sk{{ request.path|replace('/'+lang_code, '/en', 1) }}" hreflang="en">
  {% else %}
  <link rel="alternate" href="https://2018.pycon.sk{{ request.path|replace('/'+lang_code, '/sk', 1) }}" hreflang="sk">
  {% endif %}
  <link rel="canonical" href="https://2018.pycon.sk{{ request.path }}"/>
</head>
<body>

<!-- Header: fixed navbar -->
<nav class="transparent">
  <svg width="44" height="44" class="logo">
    <image xlink:href="{{ url_for('static', filename='img/logo/spy-logo.svg') }}"
           src="{{ url_for('static', filename='img/logo/spy-logo.png') }}" width="44" height="44"/>
  </svg>
  <a href="#home" class="brand">SPy o.z.</a>

  <!-- responsive-->
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button" id="menu">menu</label>

  <div class="menu">
    {% block nav %}
    <a href="{{ url_for('index', lang_code=lang_code) }}#home" class="pseudo button">{{ _('About Us') }}</a>
    <a href="{{ url_for('index', lang_code=lang_code) }}#events" class="pseudo button">{{ _('Events') }}</a>
    <a href="{{ url_for('index', lang_code=lang_code) }}#team" class="pseudo button">{{ _('Team') }}</a>
    <a href="{{ url_for('index', lang_code=lang_code) }}#contact" class="pseudo button">{{ _('Contact') }}</a>
    <a href="{{ url_for('support', lang_code=lang_code) }}" class="pseudo button">{{ _('Support Us') }}</a>
    <a href="https://www.pycon.sk/{{ lang_code }}/" class="pseudo button external">PyCon SK</a>
    {% endblock %}
    {% if lang_code == 'sk' %}
    <a href="{{ request.path|replace('/'+lang_code, '/en', 1) }}" class="lang-en" title="Switch to english language"
       hreflang="en">&nbsp;</a>
    {% else %}
    <a href="{{ request.path|replace('/'+lang_code, '/sk', 1) }}" class="lang-sk" title="Prepnúť na slovenský jazyk"
       hreflang="sk">&nbsp;</a>
    {% endif %}
  </div>
</nav>

<!-- Content -->
<main>
  {% block content %}{% endblock %}
  {% block footer %}
  <footer>
    <div class="footer">
      <p class="socka">
        &nbsp;<a href="https://facebook.com/pyconsk" class="external"><i class="fa fa-facebook" aria-hidden="true"></i>
        <span class="hide-900">Facebook</span></a>&nbsp;
        <span> | </span>
        &nbsp;<a href="https://twitter.com/pyconsk" class="external"><i class="fa fa-twitter" aria-hidden="true"></i>
        <span class="hide-900">Twitter</span></a>&nbsp;
        <span> | </span>
        &nbsp;<a href="https://www.linkedin.com/company/spy-o--z-" class="external"><i class="fa fa-linkedin"
                                                                                       aria-hidden="true"></i>
        <span class="hide-900">LinkedIn</span></a>&nbsp;
        <span> | </span>
        &nbsp;<a href="https://plus.google.com/u/0/b/114745643590416178453/114745643590416178453/posts"
                 class="external"><i class="fa fa-google-plus" aria-hidden="true"></i>
        <span class="hide-900">Google+</span></a>&nbsp;
        <span> | </span>
        &nbsp;<a href="https://github.com/pyconsk" class="external"><i class="fa fa-github" aria-hidden="true"></i>
        <span class="hide-900">GitHub</span></a>&nbsp;
        <span> | </span>
        &nbsp;<a href="mailto:info%40pycon.sk" class="external"><i class="fa fa-envelope-o" aria-hidden="true"></i>
        <span class="hide-900">info@pycon.sk</span></a>&nbsp;
        <span> | </span>
        &nbsp;<a href="https://riot.python.sk" class="external"><i class="fa fa-comments-o" aria-hidden="true"></i>
        <span class="hide-900">riot.python.sk</span></a>
      </p>
      <p class="copyleft">
        <i class="fa fa-creative-commons" aria-hidden="true"></i> 2015-2017 <a href="https://spy.pycon.sk">SPy o.z.</a>,
        {{ _('content licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"
                                        class="external">CC-BY</a>,
        except members avatars.') }}<span class="hide-900"> {{ _('Please consult with each SPy member, if you would like to use their avatar.') }}</span>
      </p>
    </div>
  </footer>
  {% endblock %}
</main>

</body>
</html>
