{% extends "body.html" %}
{% block content %}
<!-- Content -->
<div class="section" id="home">
  <div class="content">
    <div class="content-text">
      <h3>{{ _('About Us') }}</h3>
      <p>{{ _('The mission of the SPy civic association (SPy is the abbreviation of "Slovak Python") is to support 
        developers and users of the Python programming language. We support and we spread the programming language 
        Python and other open source technologies and open source ideas in our society.') }}
      </p>
      <p>{{ _('Our goal is to provide help and support for beginners and people who are new to programming. Another goal
        is to work with schools and other educational institutions, and promote programming (independent of the
        programming language) in children and young people from the earliest age.') }}

      </p>
      <p>{{ _('We support the area of software development in socially vulnerable or otherwise disadvantaged social
        groups. We are dedicated to practical use of software development.') }}

      </p>
      <p>{{ _('We want to work on various open source projects, to create open educational content for use in schools as
        well as self-study and advocate for the use of open technologies in society and the public sector.') }}
      </p>
      <p>{{ _('Since 2015 we have organized dozens of <a href="#events">events and projects</a>. If you would like to
        know more, scroll down to see what we are up to.') }}
      </p>
    </div>
  </div>
</div>

<div class="section" id="events">
  <div class="content">
    <div class="content-text">
      <h2>{{ _('Projects') }}</h2>
      <p><strong>{{ _('<a href="%(url)s" target="_blank">BBC micro:bit</a> in slovak education', url='http://microbit.org/') }}</strong>: {{ _('Pilot project to improove Informatics lessons using BBC micro:bit in schools.') }}</p>
      <p><strong>{{ _('<a href="%(url)s" target="_blank">Mu Editor</a> translations', url='https://codewith.mu/') }}</strong>: {{ _('<a href="%(url)s" target="_blank">Translation</a> of the editor into slovak language.', url='https://preklady.python.sk/projects/mu-editor/mu-editor-spy-github-fork/sk/') }}</p>
      <p><strong>{{ _('<a href="%(url)s" target="_blank">Django Girls tutorial</a> translation', url='https://tutorial.djangogirls.org/en/index.html') }}</strong>: {{ _('<a href="%(url)s" target="_blank">Translation</a> of the tutorial into slovak language.', url='https://crowdin.com/project/django-girls-tutorial/sk#') }}</p>
      <p><strong><a href="https://github.com/pyconsk/django-konfera" target="_blank">django-konfera</a></strong>: {{ _('Open Source django application for event management, was used to taught people basics of Django.') }}</p>

      <h2>{{ _('Events') }}</h2>
      <div class="tabs four">
        {% for year in events.keys() %}
        <input id='tab-{{ year }}' type='radio' name='year-tabs' {% if loop.last %} checked{% endif %}/>
        <label class="pseudo button toggle" for="tab-{{ year }}">{{ year }}</label>
        {% endfor %}

        <div class="row">
          {% for year, data in events.items() %}
          <div> <!-- {{ year }} -->
            {% for event in data %}
            <div class="tab">
              <input id="tab-{{ loop.index }}-{{ year }}" type="radio" name="tabs-{{ year }}">
              <label for="tab-{{ loop.index }}-{{ year }}">
                {{ event.name }}{% if event.speakers %} - <span class="tab-speaker">{% for speaker in event.speakers %}{{ speaker.name }}{% if not loop.last %}, {% endif %}{% endfor %}</span>{%
                endif %} <span class="tab-date hide-900">{{ event.date }}{% if event.date_end %} – {{ event.date_end }}{% endif %}</span>
              </label>
              <div class="tab-content">
                <p>{{ event.date }} {{ year }}{% if event.hour %} - {{ event.hour }}{% endif %}{% if event.date_end %} –
                  {{ event.date_end }} {{ year }}{% endif %}</p>
                {% if event.speakers %}
                <p>{{ _('Speaker') }}: {% for speaker in event.speakers %}{% if speaker.link %}<a
                    href="{{ speaker.link }}" target="_blank"
                    title="{{ speaker.link_title }}">{% endif %}{{ speaker.name }}{% if speaker.link %}</a>{% endif %}{%
                  if not loop.last %}, {% endif %}{% endfor %}
                </p>{% endif %}
                {% if event.location.name %}
                <p>{{ _('Location') }}: <a href="{{ event.location.link }}" target="_blank"
                                           title="{{ event.location.link_title }}">{{ event.location.name }}</a>, {{
                  event.location.address }}
                </p>{% endif %}
                {% autoescape false %}{{ event.content }}{% endautoescape %}
              </div>
            </div>
            {% endfor %}
          </div> <!-- END {{ year }} -->
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>

<div class="section" id="team">
  <div class="content">
    <div class="content-text">
      <div class="flex one two-500 three-600 four-900 center">

        <div>
          <a href="https://sk.linkedin.com/in/richardkellner" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/richard_kellner.jpg') }}"
                 alt="Richard Kellner {{ _('avatar') }}" class="avatar"/><br/>Richard Kellner
          </a>
          <br/>
          <small>{{ _('Chairman') }}</small>
        </div>

        <div>
          <a href="https://sk.linkedin.com/in/marekmansell" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/marek_mansell.jpg') }}"
                 alt="Marek Mansell {{ _('avatar') }}" class="avatar"/><br/>Marek Mansell
          </a>
          <br/>
          <small>{{ _('Vice-Chairman') }}</small>
        </div>

        <div>
          <a href="https://www.linkedin.com/in/danielkontsek/" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/daniel_kontsek.jpg') }}"
                 alt="Daniel Kontšek {{ _('avatar') }}" class="avatar"/><br/>Daniel Kontšek
          </a>
          <br/>
          <small>{{ _('Auditor') }}</small>
        </div>

        <div>
          <a href="https://www.linkedin.com/in/jangondol" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/jan_gondol.jpg') }}"
                 alt="Ján Gondoľ {{ _('avatar') }}"
                 class="avatar"/><br/>
            Ján Gondoľ
          </a>
        </div>

        <div>
          <a href="https://sk.linkedin.com/in/mnalevanko" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/michal_nalevanko.jpg') }}"
                 alt="Michal Nalevanko {{ _('avatar') }}" class="avatar"/><br/>
            Michal Nalevanko
          </a>
        </div>

        <div>
          <a href="https://www.linkedin.com/in/tomas-pytel/" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/tomas_pytel.jpg') }}"
                 alt="Tomáš Pytel {{ _('avatar') }}" class="avatar"/><br/>
            Tomáš Pytel
          </a>
        </div>

        <div>
          <a href="https://www.linkedin.com/in/juraj-bezrucka-5651a1b/" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/juraj_bezrucka.jpg') }}"
                 alt="Juraj M. Bezručka {{ _('avatar') }}" class="avatar"/><br/>
            Juraj M. Bezručka
          </a>
        </div>

        <div>
          <a href="https://www.linkedin.com/in/evameszarosova/" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/eva_klimekova.jpg') }}"
                 alt="Eva Klimeková {{ _('avatar') }}" class="avatar"/><br/>
            Eva Klimeková
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="section" id="contact">
  <div class="content">
    <div class="content-text">

      <div class="flex one two-700">
        <div>
          <h2><i class="fa fa-home" aria-hidden="true"></i> {{ _('Address') }}</h2>
          <p>
            SPy o.z.<br/>
            Sibírska 1599/21<br/>
            Bratislava-Nové Mesto,<br/>
            {{ _('Slovak Republic') }}
          </p>
        </div>
        <div>
          <h2><i class="fa fa-gavel" aria-hidden="true"></i> {{ _('Legal details') }}</h2>
          <p>
            {{ _('Company ID') }}: 48412627<br/>
            {{ _('Registered at the Ministry of Interior') }}: 26.8.2015<br/>
            {{ _('Registry number') }}: VVS/1-900/90-466 95<br/>
            {{ _('Bylaws') }}: <a href="{{ url_for('static', filename='download/SPy_stanovy.pdf') }}"><i class="fa fa-file-pdf-o"
                                                                     aria-hidden="true"></i>
            PDF</a>{% if lang_code == 'en' %}
            <small>(SK)</small>
            {% endif %}
          </p>
        </div>
      </div>
      <div class="flex one two-900">
        <div>
          <h2><i class="fa fa-university" aria-hidden="true"></i> {{ _('Bank details') }}</h2>
          <p>
            {{ _('Account name') }}: SPy<br/>
            {{ _('Bank name') }}: Fio banka, a. s., pobočka zahraničnej banky<br/>
            {{ _('Bank account EUR (SK)') }}: 2300870269/8330<br/>
            {{ _('Bank account EUR (CZ)') }}: 2300870269/2010<br/>
            {{ _('Bank account EUR (IBAN)') }}: SK48 8330 0000 0023 0087 0269<br/>
            {{ _('SWIFT/BIC') }}: FIOZSKBAXXX
          </p>
        </div>
        <div>
          <h2><i class="fa fa-address-book" aria-hidden="true"></i> {{ _('Find us online') }}</h2>
          <p>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <a href="mailto:info%40pycon.sk" class="external">info@pycon.sk</a><br/>
            <i class="fa fa-comments-o" aria-hidden="true"></i>
            <a href="https://riot.python.sk" class="external">riot.python.sk</a><br/><br/>

            <i class="fa fa-facebook" aria-hidden="true"></i>
            <a href="https://facebook.com/pyconsk" class="external">Facebook</a><br/>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <a href="https://twitter.com/pyconsk" class="external">Twitter</a><br/>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <a href="https://www.linkedin.com/company/spy-o--z-" class="external">LinkedIn</a><br/>
            <i class="fa fa-google-plus" aria-hidden="true"></i>
            <a href="https://plus.google.com/u/0/b/114745643590416178453/114745643590416178453/posts" class="external">
              Google+</a><br/>
            <i class="fa fa-github" aria-hidden="true"></i>
            <a href="https://github.com/pyconsk" class="external">GitHub</a><br/>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content End -->
{% endblock %}

